<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wim.aero.acs.db.mapper.CCardInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wim.aero.acs.db.entity.CCardInfo">
        <result column="card_no" property="cardNo" />
        <result column="card_seq" property="cardSeq" />
        <result column="pin" property="pin" />
        <result column="card_type" property="cardType" />
        <result column="effect_begin_time" property="effectBeginTime" />
        <result column="effect_end_time" property="effectEndTime" />
        <result column="holiday_begin_time" property="holidayBeginTime" />
        <result column="holiday_end_time" property="holidayEndTime" />
        <result column="temp_upgrade_begin_time" property="tempUpgradeBeginTime" />
        <result column="temp_upgrade_end_time" property="tempUpgradeEndTime" />
        <result column="times" property="times" />
        <result column="apb_flag" property="apbFlag" />
        <result column="additional_flag" property="additionalFlag" />
        <result column="disabled_flag" property="disabledFlag" />
        <result column="card_pwd_flag" property="cardPwdFlag" />
        <result column="state" property="state" />
        <result column="first_card_flag" property="firstCardFlag" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="apb_id" property="apbId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        card_no, card_seq, pin, card_type, effect_begin_time, effect_end_time, holiday_begin_time, holiday_end_time, temp_upgrade_begin_time, temp_upgrade_end_time, times, apb_flag, additional_flag, disabled_flag, card_pwd_flag, state, first_card_flag, create_by, create_time, update_by, update_time, apb_id
    </sql>

    <resultMap id="CardInfoMap" type="com.wim.aero.acs.protocol.card.CardAdd">
        <result column="card_no" property="cardNumber" />
        <result column="scpId" property="scpNumber" />
        <result column="pin" property="pin" />
        <result column="apb_id" property="apbLoc" />
        <result column="times" property="useCount" />
        <result column="activeTime" property="actTime" />
        <result column="deactiveTime" property="dactTime" />
        <result column="holidayDate" property="vacDate" />
        <result column="holidayDays" property="vacDays" />
        <result column="tmpDate" property="tmpDate" />
        <result column="tmpDays" property="tmpDays" />
        <result column="flags" property="flags" />
        <collection property="alvl" ofType="java.lang.Integer">
            <result column="alId" />
        </collection>
    </resultMap>
<!--    <select id="selectAllByCardNo" resultMap="CardInfoMap">-->
<!--        select-->
<!--            a.card_no, a.pin, a.apb_id, a.times,-->
<!--            DATEDIFF ( second , '1970/01/01 00:00:00', a.effect_begin_time) as activeTime,-->
<!--            DATEDIFF ( second , '1970/01/01 00:00:00', a.effect_end_time) as deactiveTime,-->
<!--            DATEDIFF ( day , '1900/01/01 00:00:00', a.holiday_begin_time) as holidayDate,-->
<!--            DATEDIFF ( day , a.holiday_begin_time, a.holiday_end_time) as holidayDays,-->
<!--            DATEDIFF ( day , '1900/01/01 00:00:00', a.temp_upgrade_begin_time) as tmpDate,-->
<!--            DATEDIFF ( day , a.temp_upgrade_begin_time, a.temp_upgrade_end_time) as tmpDays,-->
<!--            (1 + 2 * ISNULL(a.first_card_flag, 0) +-->
<!--             4 * ISNULL(a.apb_flag, 0) +-->
<!--             8 * ISNULL(a.disabled_flag, 0) +-->
<!--             16 * ISNULL(a.card_pwd_flag, 0))  as flags,-->
<!--            b.access_level_id as alId-->
<!--        from c_card_info a-->
<!--        left join d_employee_access_level b-->
<!--        on a.card_no = b.card_no-->
<!--        where-->
<!--            a.card_no IN-->
<!--            <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">-->
<!--                #{id}-->
<!--            </foreach>-->
<!--    </select>-->

<!--    <select id="selectAllByAccessLevels" resultMap="CardInfoMap">-->
<!--        select-->
<!--        a.card_no, a.pin, a.apb_id, a.times,-->
<!--        DATEDIFF ( second , '1970/01/01 00:00:00', a.effect_begin_time) as activeTime,-->
<!--        DATEDIFF ( second , '1970/01/01 00:00:00', a.effect_end_time) as deactiveTime,-->
<!--        DATEDIFF ( day , '1900/01/01 00:00:00', a.holiday_begin_time) as holidayDate,-->
<!--        DATEDIFF ( day , a.holiday_begin_time, a.holiday_end_time) as holidayDays,-->
<!--        DATEDIFF ( day , '1900/01/01 00:00:00', a.temp_upgrade_begin_time) as tmpDate,-->
<!--        DATEDIFF ( day , a.temp_upgrade_begin_time, a.temp_upgrade_end_time) as tmpDays,-->
<!--        (1 + 2 * ISNULL(a.first_card_flag, 0) +-->
<!--        4 * ISNULL(a.apb_flag, 0) +-->
<!--        8 * ISNULL(a.disabled_flag, 0) +-->
<!--        16 * ISNULL(a.card_pwd_flag, 0))  as flags,-->
<!--        b.access_level_id as alId-->
<!--        from d_employee_access_level b-->
<!--        left join c_card_info a-->
<!--        on a.card_no = b.card_no-->
<!--        where-->
<!--        b.access_level_id IN-->
<!--        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">-->
<!--            #{id}-->
<!--        </foreach>-->
<!--    </select>-->

    <select id="selectAllByScpId" resultMap="CardInfoMap">
        select
            a.card_no, a.pin, a.apb_id, a.times,
            DATEDIFF ( second , '1970/01/01 00:00:00', a.effect_begin_time) as activeTime,
            DATEDIFF ( second , '1970/01/01 00:00:00', a.effect_end_time) as deactiveTime,
            DATEDIFF ( day , '1900/01/01 00:00:00', a.holiday_begin_time) as holidayDate,
            DATEDIFF ( day , a.holiday_begin_time, a.holiday_end_time) as holidayDays,
            DATEDIFF ( day , '1900/01/01 00:00:00', a.temp_upgrade_begin_time) as tmpDate,
            DATEDIFF ( day , a.temp_upgrade_begin_time, a.temp_upgrade_end_time) as tmpDays,
            (1 + 2 * ISNULL(a.first_card_flag, 0) +
             4 * ISNULL(a.apb_flag, 0) +
             8 * ISNULL(a.disabled_flag, 0) +
             16 * ISNULL(a.card_pwd_flag, 0))  as flags,
            (case
                 when b.schedules_group_id = 0 or a.state != '0' then 0
                 else b.access_level_id end) as alId,
            b.controller_id as scpId
        from d_employee_access_reader b
        left join c_card_info a
        on a.card_no = b.card_no
        where b.controller_id = #{scpId}
    </select>


    <select id="selectAllByEleScpId" resultMap="CardInfoMap">
        select
            a.card_no, a.pin, a.apb_id, a.times,
            DATEDIFF ( second , '1970/01/01 00:00:00', a.effect_begin_time) as activeTime,
            DATEDIFF ( second , '1970/01/01 00:00:00', a.effect_end_time) as deactiveTime,
            DATEDIFF ( day , '1900/01/01 00:00:00', a.holiday_begin_time) as holidayDate,
            DATEDIFF ( day , a.holiday_begin_time, a.holiday_end_time) as holidayDays,
            DATEDIFF ( day , '1900/01/01 00:00:00', a.temp_upgrade_begin_time) as tmpDate,
            DATEDIFF ( day , a.temp_upgrade_begin_time, a.temp_upgrade_end_time) as tmpDays,
            (1 + 2 * ISNULL(a.first_card_flag, 0) +
             4 * ISNULL(a.apb_flag, 0) +
             8 * ISNULL(a.disabled_flag, 0) +
             16 * ISNULL(a.card_pwd_flag, 0))  as flags,
            (case
                 when b.ele_level_id = 0 or a.state != '0' then 0
                 else b.ele_access_id end) as alId,
            b.controller_id as scpId
        from ele_employee_access_reader b
        left join c_card_info a
        on a.card_no = b.card_no
        where b.controller_id = #{scpId}
    </select>

    <select id="selectAllByCardList" resultMap="CardInfoMap">
        select
            a.card_no, a.pin, a.apb_id, a.times,
            DATEDIFF ( second , '1970/01/01 00:00:00', a.effect_begin_time) as activeTime,
            DATEDIFF ( second , '1970/01/01 00:00:00', a.effect_end_time) as deactiveTime,
            DATEDIFF ( day , '1900/01/01 00:00:00', a.holiday_begin_time) as holidayDate,
            DATEDIFF ( day , a.holiday_begin_time, a.holiday_end_time) as holidayDays,
            DATEDIFF ( day , '1900/01/01 00:00:00', a.temp_upgrade_begin_time) as tmpDate,
            DATEDIFF ( day , a.temp_upgrade_begin_time, a.temp_upgrade_end_time) as tmpDays,
            (1 + 2 * ISNULL(a.first_card_flag, 0) +
             4 * ISNULL(a.apb_flag, 0) +
             8 * ISNULL(a.disabled_flag, 0) +
             16 * ISNULL(a.card_pwd_flag, 0))  as flags,
            (case
                when b.schedules_group_id = 0 or a.state != '0' then 0
                else b.access_level_id end) as alId,
            b.controller_id as scpId
        from c_card_info a
        left join d_employee_access_reader b
        on a.card_no = b.card_no
        where
            a.card_no IN
            <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
    </select>


    <select id="selectAllByCardListForEle" resultMap="CardInfoMap">
        select
        a.card_no, a.pin, a.apb_id, a.times,
        DATEDIFF ( second , '1970/01/01 00:00:00', a.effect_begin_time) as activeTime,
        DATEDIFF ( second , '1970/01/01 00:00:00', a.effect_end_time) as deactiveTime,
        DATEDIFF ( day , '1900/01/01 00:00:00', a.holiday_begin_time) as holidayDate,
        DATEDIFF ( day , a.holiday_begin_time, a.holiday_end_time) as holidayDays,
        DATEDIFF ( day , '1900/01/01 00:00:00', a.temp_upgrade_begin_time) as tmpDate,
        DATEDIFF ( day , a.temp_upgrade_begin_time, a.temp_upgrade_end_time) as tmpDays,
        (1 + 2 * ISNULL(a.first_card_flag, 0) +
        4 * ISNULL(a.apb_flag, 0) +
        8 * ISNULL(a.disabled_flag, 0) +
        16 * ISNULL(a.card_pwd_flag, 0))  as flags,
        (case
            when b.ele_level_id = 0 or a.state != '0' then 0
            else b.ele_access_id end) as alId,
        b.controller_id as scpId
        from c_card_info a
        left join ele_employee_access_reader b
        on a.card_no = b.card_no
        where  a.card_no IN
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>


    <select id="selectAllByScpAndCardList" resultMap="CardInfoMap">
        select
        a.card_no, a.pin, a.apb_id, a.times,
        DATEDIFF ( second , '1970/01/01 00:00:00', a.effect_begin_time) as activeTime,
        DATEDIFF ( second , '1970/01/01 00:00:00', a.effect_end_time) as deactiveTime,
        DATEDIFF ( day , '1900/01/01 00:00:00', a.holiday_begin_time) as holidayDate,
        DATEDIFF ( day , a.holiday_begin_time, a.holiday_end_time) as holidayDays,
        DATEDIFF ( day , '1900/01/01 00:00:00', a.temp_upgrade_begin_time) as tmpDate,
        DATEDIFF ( day , a.temp_upgrade_begin_time, a.temp_upgrade_end_time) as tmpDays,
        (1 + 2 * ISNULL(a.first_card_flag, 0) +
        4 * ISNULL(a.apb_flag, 0) +
        8 * ISNULL(a.disabled_flag, 0) +
        16 * ISNULL(a.card_pwd_flag, 0))  as flags,
        (case
        when b.schedules_group_id = 0 or a.state != '0' then 0
        else b.access_level_id end) as alId,
        b.controller_id as scpId
        from c_card_info a
        left join d_employee_access_reader b
        on a.card_no = b.card_no and b.controller_id = #{scpId}
        where
        a.card_no IN
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>


    <select id="selectAllByScpAndCardListForEle" resultMap="CardInfoMap">
        select
        a.card_no, a.pin, a.apb_id, a.times,
        DATEDIFF ( second , '1970/01/01 00:00:00', a.effect_begin_time) as activeTime,
        DATEDIFF ( second , '1970/01/01 00:00:00', a.effect_end_time) as deactiveTime,
        DATEDIFF ( day , '1900/01/01 00:00:00', a.holiday_begin_time) as holidayDate,
        DATEDIFF ( day , a.holiday_begin_time, a.holiday_end_time) as holidayDays,
        DATEDIFF ( day , '1900/01/01 00:00:00', a.temp_upgrade_begin_time) as tmpDate,
        DATEDIFF ( day , a.temp_upgrade_begin_time, a.temp_upgrade_end_time) as tmpDays,
        (1 + 2 * ISNULL(a.first_card_flag, 0) +
        4 * ISNULL(a.apb_flag, 0) +
        8 * ISNULL(a.disabled_flag, 0) +
        16 * ISNULL(a.card_pwd_flag, 0))  as flags,
        (case
        when b.ele_level_id = 0 or a.state != '0' then 0
        else b.ele_access_id end) as alId,
        b.controller_id as scpId
        from c_card_info a
        left join ele_employee_access_reader b
        on a.card_no = b.card_no and b.controller_id = #{scpId}
        where  a.card_no IN
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>


    <select id="selectScpIdsByCardNo" resultType="java.lang.Integer" parameterType="java.util.List">
        select
        distinct controller_id
        from d_employee_access_reader
        where card_no IN
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="selectScpIdsByCardNoForEle" resultType="java.lang.Integer" parameterType="java.util.List">
        select
        distinct controller_id
        from ele_employee_access_reader
        where card_no  IN
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

</mapper>
