<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wim.aero.acs.db.mapper.DAccessLevelDoorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wim.aero.acs.db.entity.DAccessLevelDoor">
        <id column="access_level_id" property="accessLevelId" />
        <id column="schedules_group_id" property="schedulesGroupId" />
        <id column="device_id" property="deviceId" />
        <id column="controller_id" property="controllerId" />
        <result column="access_level_name" property="accessLevelName" />
        <result column="reader_number" property="readerNumber" />
        <result column="acr_number" property="acrNumber" />
        <result column="status" property="status" />
        <result column="device_name" property="deviceName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        access_level_id, access_level_name, schedules_group_id, device_id, reader_number, acr_number, controller_id, status, device_name
    </sql>

    <resultMap id="ALInfoMap" type="com.wim.aero.acs.model.db.AccessLevelInfo">
        <result column="scpId" property="nScpNumber" />
        <result column="alId" property="nAlvlnumber" />
        <result column="activeDate" property="activeDate" />
        <result column="deactiveDate" property="deactiveDate" />
        <result column="nEscortCode" property="nEscortCode" />
        <collection property="tzList" ofType="com.wim.aero.acs.model.db.ACRTz">
            <result column="acrId" property="acrId" />
            <result column="tzId" property="tz" />
            <result column="state" property="state" />
        </collection>
    </resultMap>

    <select id="selectAllByControllerIdForEle" resultMap="ALInfoMap">
        select
            a.controller_id as scpId,
            a.ele_access_id as alId,
            a.ele_level_id as tzId,
            a.acr_number as acrId,
            b.begin_date as activeDate,
            b.end_date as deactiveDate,
            b.flag as nEscortCode,
            a.status as state
        from ele_access_level_detail a, ele_access_level b
        where
            controller_id = #{controllerId,jdbcType=NUMERIC} and
            a.status = '0' and
            a.ele_access_id = b.ele_access_id
    </select>

    <select id="selectListByControllerIdForEle" resultMap="ALInfoMap">
        select
            a.controller_id as scpId,
            a.ele_access_id as alId,
            a.ele_level_id as tzId,
            a.acr_number as acrId,
            b.begin_date as activeDate,
            b.end_date as deactiveDate,
            b.flag as nEscortCode,
            a.status as state
        from ele_access_level_detail a, ele_access_level b
        where
            a.ele_access_id = b.ele_access_id and
            a.ele_access_id IN
            <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
    </select>

    <select id="selectAllByControllerId" resultMap="ALInfoMap">
        select
            a.controller_id as scpId,
            a.access_level_id as alId,
            a.schedules_group_id as tzId,
            a.acr_number as acrId,
            b.begin_date as activeDate,
            b.end_date as deactiveDate,
            b.flag as nEscortCode,
            a.status as state
        from d_access_level_door a, d_access_level b
        where
            controller_id = #{controllerId,jdbcType=NUMERIC} and
            a.status = '0' and
            a.access_level_id = b.access_level_id
    </select>

    <select id="selectListByControllerId" resultMap="ALInfoMap">
        select
            a.controller_id as scpId,
            a.access_level_id as alId,
            a.schedules_group_id as tzId,
            a.acr_number as acrId,
            b.begin_date as activeDate,
            b.end_date as deactiveDate,
            b.flag as nEscortCode,
            a.status as state
        from d_access_level_door a, d_access_level b
        where
            a.access_level_id = b.access_level_id and
            a.access_level_id IN
            <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
    </select>


    <resultMap id="EleALInfoMap" type="com.wim.aero.acs.model.db.EleAccessLevelInfo">
        <result column="scpId" property="nScpNumber" />
        <result column="alId" property="eleNumber" />
        <collection property="tzList" ofType="com.wim.aero.acs.model.db.EleTz">
            <result column="floor" property="floor" />
            <result column="tzId" property="tz" />
        </collection>
    </resultMap>

    <select id="selectEleLevelByScpId" resultMap="EleALInfoMap">
        select
            a.controller_id as scpId,
            a.ele_level_id as alId,

            b.schedules_group_id as tzId,
            b.ele_floor_id as floor
        from ele_access_level_detail a, ele_level_detail b
        where
            controller_id = #{controllerId,jdbcType=NUMERIC} and
            a.ele_level_id = b.ele_level_id and
            b.status = '0'
    </select>


    <select id="searchAccessLevelIdByControllerId" resultType="java.lang.Integer">
        select access_level_id
        from d_access_level_door
        where controller_id = #{controllerId,jdbcType=NUMERIC}
        group by access_level_id
    </select>

</mapper>
