<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wim.aero.acs.db.mapper.DefenceInputMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wim.aero.acs.db.entity.DefenceInput">
        <result column="seq_no" property="seqNo" />
        <result column="defence_id" property="defenceId" />
        <result column="defence_name" property="defenceName" />
        <result column="controller_id" property="controllerId" />
        <result column="input_device_id" property="inputDeviceId" />
        <result column="point_type" property="pointType" />
        <result column="point_num" property="pointNum" />
        <result column="status" property="status" />
        <result column="remark" property="remark" />
        <result column="scp_defence_id" property="scpDefenceId" />
        <result column="device_id" property="deviceId" />
        <result column="device_name" property="deviceName" />
        <result column="shield_flag" property="shieldFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        seq_no, defence_id, defence_name, controller_id, input_device_id, point_type, point_num, status, remark, scp_defence_id, device_id, device_name, shield_flag
    </sql>


    <resultMap id="MpGroupMap" type="com.wim.aero.acs.protocol.device.mp.MpGroupSpecification">
        <result column="controller_id" property="scpNumber" />
        <result column="scp_defence_id" property="mpgNumber" />
        <collection property="nMpList" ofType="com.wim.aero.acs.protocol.device.mp.MpType">
            <result column="point_type" property="pointType" />
            <result column="point_num" property="pointNum" />
        </collection>
    </resultMap>

    <select id="selectAllByControllerId" resultMap="MpGroupMap">
        select
        controller_id, scp_defence_id, point_type, point_num
        from defence_input
        where
        controller_id = #{controllerId,jdbcType=NUMERIC}
        and status = '0'
    </select>

</mapper>
