<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wim.aero.acs.db.mapper.DEmployeeAuthMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wim.aero.acs.db.entity.DEmployeeAuth">
        <result column="seq_no" property="seqNo" />
        <result column="card_no" property="cardNo" />
        <result column="controller_id" property="controllerId" />
        <result column="access_level_id_list" property="accessLevelIdList" />
        <result column="start_time" property="startTime" />
        <result column="update_time" property="updateTime" />
        <result column="status" property="status" />
        <result column="detail" property="detail" />
        <result column="message" property="message" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        seq_no, card_no, controller_id, access_level_id_list, start_time, update_time, status, detail
    </sql>
    <select id="selectOneByCardNoAndControllerId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from d_employee_auth
        where
        card_no = #{cardNo,jdbcType=VARCHAR}
        AND controller_id = #{controllerId,jdbcType=NUMERIC}
    </select>

</mapper>
