<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wim.aero.acs.db.mapper.TaskDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wim.aero.acs.db.entity.TaskDetail">
        <id column="uid" property="uid" />
        <result column="task_id" property="taskId" />
        <result column="task_name" property="taskName" />
        <result column="task_source" property="taskSource" />
        <result column="message" property="message" />
        <result column="start_time" property="startTime" />
        <result column="msg_return_time" property="msgReturnTime" />
        <result column="msg_over_time" property="msgOverTime" />
        <result column="status" property="status" />
        <result column="detail" property="detail" />
        <result column="card_no" property="cardNo" />
        <result column="scp_id" property="scpId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        task_id, task_name, task_source, message, start_time, msg_return_time, msg_over_time, status, uid, detail, card_no, scp_id
    </sql>
    <update id="updateStatusAndMsgReturnTimeByUid">
        update task_detail
        set status          = #{status,jdbcType=VARCHAR},
            msg_return_time = #{msgReturnTime},
            detail = #{detail}
        where uid = #{uid}
    </update>

    <update id="updateStatusBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index">
        update task_detail
        set status = #{item.status},
            msg_return_time = #{item.msgReturnTime},
            detail = #{item.detail}
        where uid = #{item.uid}

        </foreach>
    </update>

<!--    <update id="updateStatusBatch" parameterType="java.util.List">-->
<!--        update task_detail-->
<!--        <trim prefix="set" suffixOverrides=",">-->
<!--            <trim prefix="status=case" suffix="end,">-->
<!--                <foreach collection="list" item="item" index="index">-->
<!--                    <if test="item.uid!=null">-->
<!--                        when uid=#{item.uid} then #{item.status}-->
<!--                    </if>-->
<!--                </foreach>-->
<!--            </trim>-->
<!--            <trim prefix="msg_return_time=case" suffix="end,">-->
<!--                <foreach collection="list" item="item" index="index">-->
<!--                    <if test="item.uid!=null">-->
<!--                        when uid=#{item.uid} then #{item.msgReturnTime}-->
<!--                    </if>-->
<!--                </foreach>-->
<!--            </trim>-->
<!--            <trim prefix="detail=case" suffix="end,">-->
<!--                <foreach collection="list" item="item" index="index">-->
<!--                    <if test="item.uid!=null">-->
<!--                        when uid=#{item.uid} then #{item.detail}-->
<!--                    </if>-->
<!--                </foreach>-->
<!--            </trim>-->
<!--        </trim>-->
<!--        where-->
<!--        <foreach collection="list" separator="or" item="item" index="index">-->
<!--            uid=#{item.uid}-->
<!--        </foreach>-->
<!--    </update>-->

</mapper>
